@page
@model AspEventGrupp.Pages.Organizer.ManageEventsModel

@{
    ViewData["Title"] = "ManageEvents";
}

<h1>Manage Events</h1>

<div class="d-flex justify-content-center" style="margin-top:3%; margin-bottom:3%;">
    <p>
        <a asp-page="/Organizer/AddEvent" class="btn btn-info">Create New</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].SpotsLeft)
            </th>
            <th>
                <b>Options</b>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpotsLeft)
                </td>
                <td>
                    <a asp-page="/Organizer/Options/Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="/Organizer/Options/Details" asp-route-id="@item.Id">Details</a>
                    <a asp-page="/Organizer/Options/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
