@page
@model AspEventGrupp.Pages.ManageUserModel

@using Microsoft.AspNetCore.Identity;
@using AspEventGrupp.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "ManageUser";
}

<h1>ManageUser</h1>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyUsers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyUsers[0].UserName)
            </th>
            <td>
                <b>Current Role</b>
            </td>
            <td>
                <b>Promote to Organizer </b>
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MyUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (UserManager.IsInRoleAsync(item, "Admin").Result)
                    {
                        <i class="fas fa-crown">Admin</i>
                    }
                    else if (UserManager.IsInRoleAsync(item, "Organizer").Result)
                    {
                        <i class="fas fa-crown">Organizer</i>
                    }
                    else if (UserManager.IsInRoleAsync(item, "User").Result)
                    {
                        <i class="fas fa-crown">User</i>
                    }
                </td>
                <td>
                    @if (!UserManager.IsInRoleAsync(item, "Organizer").Result && !UserManager.IsInRoleAsync(item, "Admin").Result)
                    {
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="checkbox" onchange="this.form.submit()" value="@item.Id" name="id" />
                        </form>
                    }
                    else
                    {
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="checkbox" onchange="this.form.submit()" value="@item.Id" name="id" checked />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


